body {
    background-color: #ffffff;
    color: #191919;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.text-decoration-none {
  text-decoration: none;
}

.product-block {
  height: 200px;
  width: 150px;
}

.product-block a img {
  max-width: 100px;
  max-height: 150px;
}

.product-small-images {
  max-height: 75px;
}

#main-image {
  max-height: 350px;
}

/* MISC */
.container {
    max-width: 1660px;
}
.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.form-floating>label {
    font-size: 12px;
}
.form-floating>.form-control {
    height: calc(3.9rem + 2px);
}
.w-20 {
    width: 20% !important;
}
.w-80 {
    width: 80% !important;
}
/* HEADER */
header {
    background: #ffffff;
    color: #000000;
    padding: 0 !important;
    border-bottom: 0 !important;
    -webkit-box-shadow: inset 0px -1px 0px #f3f3f4;
    box-shadow: inset 0px -1px 0px #f3f3f4;
    position: fixed !important;
    z-index: 1000;
    width: 100%;
}
header.home {
    background: #f1f6ff;
    color: #000000;
    border-bottom: 0;
}
header .logo {
    max-width: 220px !important;
}
header a.nav-link {
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    color: #000000;
    padding: 25px;
}
header ul.dropdown-menu.show {
    -webkit-box-shadow: 0 0 13px 0 rgb(82 63 105 / 5%);
    box-shadow: 0 0 13px 0 rgb(82 63 105 / 5%);
    border: 1px solid #eeeeee !important;
    margin: 0 !important;
    padding: 15px !important;
    border-radius: 10px !important;
    top: 60px;
    overflow: hidden;
}
header ul.dropdown-menu.show a.dropdown-item {
    padding: 15px 10px;
    float: left;
    white-space: inherit;
    color: #000000 !important;
}
header ul.dropdown-menu.show a.dropdown-item:focus, header ul.dropdown-menu.show a.dropdown-item:hover {
    color: #6e6d7a !important;
    background-color: #FFFFFF;
    background:#FFFFFF;
}
header a.nav-link.active, header a.nav-link:hover {
    color: #0057ff !important;
}
header ul.dropdown-menu.half-menu {
    min-width: 400px;
}
header ul.dropdown-menu.full-menu {
    min-width: 600px;
}
.dropdown-icon-wrap {
    padding: 10px;
    background: #eeeeee;
    border-radius: 6px;
}
button.navbar-toggler {
    border: 0;
    padding: 15px 0;
    color: #000000 !important;
    font-size: 2rem;
}
.navbar-collapse.collapse.show {
    padding-top: 15px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}
.auth-btn {
    border-radius: 50px;
    padding: 8px 25px !important;
    margin-top: 18px;
    border: 1px solid #e8e8e8;
    font-weight: 500 !important;
    font-size: 14px !important;
    display: block;
}
.auth-btn:hover {
    color: #000000 !important;
    border: 1px solid #cccccc !important;
    background: #f1f1f1;
}
.auth-primary {
    background: #0057ff;
    border:1px solid #0057ff;
    color: #ffffff !important;
    margin-left: 10px;
}
.auth-primary:hover {
    border: 1px solid #003ecb !important;
    background: #003ecb;
    color: #ffffff !important;
}

/*Search*/
.global-search-form {
    border: 1px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
}
.search-control {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    padding: 28px 45px 28px 55px;
    border-radius: 50px;
    border: 1px solid #CCCCCC;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search-col {

}
.search-col .bi-search {

}
/* Hero */
.hero-home {
    background: #FFFFFF;
    color:#000000;
    border-bottom: 1px solid #eee;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.hero-content-container {
    /*z-index: 9999;*/
}
.hero-media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
    -ms-flex-pack: center;
    justify-content: center;
    filter: brightness(0.4);
    /* z-index: -9999; */
    width: 100%;
    position: absolute;
}
.hero-media-asset {
    position: absolute;
    transition: all 0.8s ease-in-out;
    width: 100vw;
}
.filter-categories {
    position: relative;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.filter-categories:not(.allow-overflow) {
    overflow-x: auto;
    overflow-y: hidden;
}
.filter-categories ul {
    padding: 0 2px;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.filter-categories .category {
    display: inline-block;
}
.filter-categories .category a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    background: #000000;
    color: #fff;
    margin: 0 5px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}
.filter-categories .category.active a, .filter-categories .category a:hover {
    background: #0057ff;
    color: #000;
    font-weight: 500;
    color: #ffffff;
}
.filter-categories::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/*Products*/
.img-blog-cropped {
    max-width: 100%;
    height: 250px;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
}
.img-blog-cropped:hover {
	filter: grayscale(0);
}
.model-full-hw {
    height: 100%;
    width: 100%;
}

/* Footer */
.footer .footer-logo {
    height:20px;
}
.footer ul.social a {
    width: auto;
    height: auto;
    font-size: 1.5rem !important;
    line-height: 24px;
    display: inline-block;
    color: #000000;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='%2351596C' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem 1rem;
    margin-left: auto;
    padding-left: 1.25rem;
    content: '';
    border: 0;
    vertical-align: -2px;
}

/* Cart Drawer*/
.cart-drawer-header, .cart-drawer-item {
    border-bottom: 1px solid #eeeeee;
}

button.remove-item-btn:after {
    display: inline-block;
    content: "\00d7";
}

.cart-drawer-content a.view-cart, .cart-drawer-content a.checkout {
    text-decoration: none;
    padding: 15px;
    border-radius: 2px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.cart-drawer-content a.view-cart {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.cart-drawer-content a.view-cart:hover {
    background-color: #000000;
    color: #FFFFFF;
    transition: 0.5s;
    border: 1px solid #000000;
}

.cart-drawer-content a.checkout {
    background-color: #000000;
    color: #FFFFFF;
}

.cart-drawer-content a.checkout:hover {
    background-color: #0057ff;
    transition: 0.5s;
}
